<%= image_tag("img_" + "#{@card.id}" + ".jpg", class: "hero") %>
<%= image_tag("img_" + "#{@card.id}" + ".jpg", class: "name_detail") %>
<%= image_tag("img_" + "#{@card.id}" + ".jpg", class: "image_detail") %>
<div class="shadow"></div>