<h1>Hi this is home#index</h1>

<% if user_signed_in? %>
	<ul>
  	<li><%= link_to "New reading", new_user_reading_path %></li>
 		<li><%= link_to "Past readings", user_readings_path %></li>
 	</ul>
<% else %>
  <p>Sign in to see the content of this page, fool!</p>
<% end %>