body {
	font-family: 'IM Fell DW Pica', serif;
	background-color: black;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2 {
	font-family: 'IM Fell DW Pica SC', serif;
}

h1 {
	padding: 16px;
}

.center_me {

}

.item {
	display: none;
}

.current {
	display: block;
}

.navbar-text,
.alert {
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	color: #aba9a9;
}

.navbar-text {
	text-align: right;
}

.alert {
	text-align: center;
}

.pull-right{
	position: absolute;
	right: 0px;
}

.home-button {
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: left;
}

.wrapper{
	position: relative;
	height: 100vh;
	z-index: 15; 
	color: white;
	overflow: hidden;

	a{
		text-decoration: none;
		color: #aba9a9;

		&:hover{
			color: white;
		}
	}

}

.card_list_container {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
	padding: 25px;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	z-index: 1;
}

.card_list {
	display: inline-block;
	padding: 4px;
	font-size: 16px;
}