<p>hello <%= @resource.email %>!</p>

<p>someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>if you didn't request this, please ignore this email.</p>
<p>your password won't change until you access the link above and create a new one.</p>
